* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: pink;
}

h1 {
  text-align: center;
}

#color-palette {
  background-color: gray;
  height: 20vh;
  width: 30vw;
  padding-top: 35px;
  margin-top: 20px;
  margin-left: 35vw;
}

.color {
  display: inline-block;
  margin-left: 30px;
  height: 60px;
  width: 60px;
}

#board-size {
  margin-left: 40vw;
  height: 40px;
  width: 80px;
}

#generate-board {
  height: 40px;
  width: 80px;
  border-radius: 10px;
}

#generate-board:hover {
  filter: brightness(90%);
}

#clear-board {
  margin-top: 20px;
  margin-left: 3vw;
  height: 40px;
  width: 80px;
  border-radius: 10px;
}

#clear-board:hover {
  filter: brightness(90%);
}

#pixel-board {
  box-sizing: content-box;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid '#000';
  margin: 5vh auto;
}
